boto==2.49.0
boto3==1.9.211
botocore==1.12.211
certifi==2019.6.16
chardet==3.0.4
Click==7.0
docutils==0.15.2
Flask==1.1.1
Flask-Cors==3.0.7
Flask-SSLify==0.1.5
gensim==2.3.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
jsonpickle==1.1
MarkupSafe==1.1.1
mysql-connector-python==8.0.16
nltk==3.4
numpy==1.17.0
protobuf==3.9.1
psycopg2==2.7.7
python-dateutil==2.8.0
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.20.2
scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.4
torch==1.0.1.post2
urllib3==1.22
Werkzeug==0.15.5
